// input.shadow-none.p-inputtext.p-component {
//     margin-top: 15px;
//     width: 108rem;
// }
form.Fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical-align: middle; */
}
input.shadow-none.inputSearch.p-inputtext.p-component {
    margin-top: 15px;
}
section.flex.flex-column.gap-2.mt-3 {
    transform: translateY(-16px);
}