.account-admin-page-dialog{
    width: 700px;
}

@media screen and (max-width: 765px) {
    .account-admin-page-dialog{
        width: 98%;
    }
}
p {
    color: red;
}
td {
    text-align: center;
}
.p-datatable .p-column-header-content {
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
}