.bread_Crumb {
    margin-bottom: 20px;
}

.p-datatable .p-column-header-content {
    text-align: center;
    justify-content: center;
}

.data_table {
    text-align: center;
}
td{
    text-align: center;
}